<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Montly finance details</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>

<body>
	{% load static %}

	<link rel="stylesheet" href="{% static 'myfinances/style.css' %}" />
	<main>

		<div class="container-fluid">

			<h1>Period statistic</h1>

			<h2>Period: {{ monthlyfin.month_text }}</h2>

			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCheckModal">
				Add new check.
			</button>

			<div class="table-responsive-md">
				<table class="table table-bordered table-hover table-striped table-info">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Price</th>
						</tr>
					</thead>
					<tbody>
						{% if error_message %}
						<p><strong>{{ error_message }}</strong></p>
						{% endif %} {% for monthlist in monthlyfin.monthlist_set.all %}
						<tr>
							<td>{{monthlist.check_date}}</td>
							<td>{{monthlist.check_price}}</td>
						</tr>
						{% endfor %}
						<tr>
							<th>Total sum</th>
							<td>{{ monthlyfin.summ }}</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

		<div class="modal fade" id="AddCheckModal" tabindex="-1" aria-labelledby="addCheckLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addCheckLabel">Add new check</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form method="post" action="{% url 'myfinances:detail' monthlyfin.id %}">
							{% csrf_token %}
							{{ form.as_p }}
							<button type="submit" class="btn btn-primary">Save changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	<hr>
	<footer>
		<div class="container-fluid my-5">
			<a href="{% url 'myfinances:index'%}">
				<button type="button" class="btn btn-outline-primary">Back to Period
					List</button>
			</a>
			<a href="#">
				<button type="button" class="btn btn-outline-light" href="#">Back to top</button>
			</a>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
</body>

</html>